body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.page-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
}


img {
    max-width: 25px;
}

.sideitem {
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;
}

li {
    list-style: none;
}

.side-nav {
    background-color: #075985;
    display: flex;
    flex-direction: column;
    font-size: large;
    justify-content: baseline;
}

.side-nav a {
    text-decoration: none;
    font-size: 1.3rem;
    color: bisque;
}

.title-sidenav {
    font-size: 35px;
    margin-top: 15px;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.title-sidenav img {
    max-width: 3rem;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 20px;
}

.search-bar {
    display: flex;
    gap: 20px;
    margin-left: 40px;
    align-items: center;
}

input {
    width: 850px;
    height: 30px;
    border-radius: 23px;
    border: none;
    background-color: #e2e8f0;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.profile {
    display: flex;
    gap: 10px;
    margin-left: 40px;
    align-items: center;
}

#main-profile-picture {
    max-width: 90px;
}

.textprofile div {
    font-size: 1.5rem;
    font-weight: 600;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -150px;
    gap: 15px;
}

button {
    height: 45px;
    width: 120px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #0369a1;
    color: white;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #e2e8f0;
}

.project-container {
    padding: 20px;
    padding-top: 0px;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.card {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-left: solid 10px red;
    border-radius: 10px;
    background-color: white;
}

.card-text {
    padding-right: 40px;
    font-size: large;
}

.icon {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-picture {
    max-width: 50px;
    border-radius: 50%;
}

.card-title {
    font-size: larger;
    font-weight: 700;
}

.announcements {
    padding-right: 20px;
}

.announc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.ann-title {
    font-size: larger;
    font-weight: 600;
}

.read-more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}

.read-more a {
    color: black;
}

.trending {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.user-profile {
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.user-tag {
    font-size: larger;
    font-weight: 500;
}

img {
    cursor: pointer;
}